[submodule "curl"]
	path = curl
	url = git://github.com/bagder/curl.git
[submodule "libssh2"]
	path = libssh2
	url = git://git.libssh2.org/libssh2.git
[submodule "build/ninja"]
	path = build/ninja
	url = git://github.com/martine/ninja.git
[submodule "gyp"]
	path = gyp
	url = git://github.com/svn2github/gyp.git
