[submodule "curl"]
	path = curl
	url = git://github.com/bagder/curl.git
[submodule "libssh2"]
	path = libssh2
	url = git://git.libssh2.org/libssh2.git
[submodule "build/gyp"]
	path = build/gyp
	url = git://github.com/svn2github/gyp.git
[submodule "zlib"]
	path = zlib
	url = https://github.com/madler/zlib
